@import url('https://fonts.googleapis.com/css?family=Notable');
@import url('https://fonts.googleapis.com/css?family=Urbanist');

body {
    background-color: white;
}

/* text */
#header, #page-title {
    text-align: center;
    font-family: 'Notable';
    color: black;
    font-size: 50px;
    padding-top: 50px;
}

#page-title {
    font-size: 40px;
    color: black;
    text-decoration: underline;
}

#intro {
    text-align: center;
    color: black;
}

/* navigation */
ul {
    font-size: 25px;
    background-color: mistyrose;
    padding: 10px;
    margin: 0;
    font-family: 'Urbanist';
    border: 5px solid white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

li {
    display: inline;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

a {
    padding: 8px;
    background-color: mistyrose;
}


/* containers */
.content {
    background-color: mistyrose;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.contact {
    color: black;
    background-color: mistyrose;
    padding: 20px;
    font-family: 'Urbanist';
    font-size: 20px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: mistyrose;
    color: black;
}

/* email link */
#emailId:hover {
    text-decoration: underline;
}

/* images */
#profile {
    border-radius: 50%;
    width: 70%;
}